In [132]:
import pandas as pd

price_real = pd.read_csv('./data/제주전력시장_시장전기가격_실시간가격.csv')
price_last = pd.read_csv('./data/제주전력시장_시장전기가격_하루전가격.csv')

weather2_real = pd.read_csv('./data/기상실측데이터_2.csv')
weather2_pred = pd.read_csv('./data/기상예측데이터_2.csv')

market_df = pd.read_csv('./data/제주전력시장_현황데이터.csv')

In [133]:
weather2_pred

,location,base_ts,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
0,Gaigeturi,1709258400,1709305200,100,3.23,3.23,3.23,59,1027,9.59,337,0.0,0
1,Gaigeturi,1709258400,1709308800,100,3.30,3.30,3.30,59,1027,9.28,338,0.0,0
2,Gaigeturi,1709258400,1709312400,100,3.35,3.35,3.35,59,1027,8.82,337,0.0,0
3,Gaigeturi,1709258400,1709316000,100,3.35,3.35,3.35,59,1026,8.42,338,0.0,0
4,Gaigeturi,1709258400,1709319600,99,3.43,3.43,3.43,59,1026,8.24,337,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17770,Jeju,1729648800,1729767600,0,17.27,17.27,17.27,56,1021,3.70,70,0.0,0
17771,Jeju,1729648800,1729771200,0,17.33,17.33,17.33,58,1021,4.05,78,0.0,0
17772,Jeju,1729648800,1729774800,0,17.33,17.33,17.33,56,1022,4.35,85,0.0,0
17773,Jeju,1729648800,1729778400,0,17.48,17.48,17.48,55,1022,4.74,79,0.0,0
17774,Jeju,1729648800,1729782000,0,17.89,17.89,17.89,59,1022,5.51,75,0.0,0

# ts -> datetime 변경

In [136]:
from datetime import datetime
def change_ts(df, column):
    df[column] = pd.to_datetime(df[column], unit='s') 
    return df

price_real = change_ts(price_real, 'ts')
price_last = change_ts(price_last,'ts')
weather2_real = change_ts(weather2_real,'ts')
weather2_pred = change_ts(weather2_pred,'ts')
market_df = change_ts(market_df,'ts')

# start date와 end date를 설정하여 어떤 데이터에 누락된 데이터가 있는지 확인하는 코드

In [168]:
start_date = "2024-10-11 16:00:00"
end_date = "2024-10-12 15:00:00"

print(price_real[(price_real['ts'] >= start_date) & (price_real['ts'] <= end_date)])
print(price_last[(price_last['ts'] >= start_date) & (price_last['ts'] <= end_date)])

Empty DataFrame
Columns: [ts, 실시간 임시 가격(원/kWh), 실시간 확정 가격(원/kWh)]
Index: []
                      ts  하루전가격(원/kWh)
5401 2024-10-11 16:00:00        105.62
5402 2024-10-11 17:00:00        103.11
5403 2024-10-11 18:00:00        103.41
5404 2024-10-11 19:00:00        103.44
5405 2024-10-11 20:00:00        103.44
5406 2024-10-11 21:00:00        103.36
5407 2024-10-11 22:00:00        105.62
5408 2024-10-11 23:00:00        100.48
5409 2024-10-12 00:00:00        100.20
5410 2024-10-12 01:00:00        100.24
5411 2024-10-12 02:00:00        106.59
5412 2024-10-12 03:00:00        106.58
5413 2024-10-12 04:00:00        106.44
5414 2024-10-12 05:00:00        105.67
5415 2024-10-12 06:00:00        100.09
5416 2024-10-12 07:00:00        105.82
5417 2024-10-12 08:00:00        105.88
5418 2024-10-12 09:00:00        106.60
5419 2024-10-12 10:00:00        107.29
5420 2024-10-12 11:00:00        107.36
5421 2024-10-12 12:00:00        107.36
5422 2024-10-12 13:00:00        106.72
5423 2024-10-12 14:00:00        106.72
5424 2024-10-12 15:00:00        106.72

In [170]:
print(weather2_real[(weather2_real['ts'] >= start_date) & (weather2_real['ts'] <= end_date)])

        location                  ts  cloud   temp  temp_max  temp_min  \
10806  Gaigeturi 2024-10-11 16:00:54     24  20.62     20.62     20.62
10807  Gaigeturi 2024-10-11 16:30:55      0  18.03     18.03     18.03
10808  Gaigeturi 2024-10-11 17:00:51     39  20.64     20.64     20.64
10809  Gaigeturi 2024-10-11 17:30:41      0  17.03     17.03     17.03
10810  Gaigeturi 2024-10-11 18:01:09     39  20.48     20.48     20.48
...          ...                 ...    ...    ...       ...       ...
33525       Jeju 2024-10-12 12:30:52      0  19.96     19.96     19.96
33526       Jeju 2024-10-12 13:01:07     86  20.85     20.85     20.85
33527       Jeju 2024-10-12 13:28:09      0  19.96     19.96     19.96
33528       Jeju 2024-10-12 13:58:12      0  19.96     19.96     19.96
33529       Jeju 2024-10-12 14:28:06      0  19.96     19.96     19.96

       humidity  ground_press  wind_speed  wind_dir  rain  snow
10806        69          1021        2.59        39   0.0   0.0
10807        72          1020        3.60       150   0.0   0.0
10808        68          1020        2.65        34   0.0   0.0
10809        77          1020        3.09       160   0.0   0.0
10810        68          1020        2.94        36   0.0   0.0
...         ...           ...         ...       ...   ...   ...
33525        68          1023        4.12       140   0.0   0.0
33526        72          1023        3.36        80   0.0   0.0
33527        64          1023        3.60       120   0.0   0.0
33528        64          1023        3.60       120   0.0   0.0
33529        56          1023        3.60       120   0.0   0.0

[138 rows x 12 columns]

In [172]:
print(weather2_pred[(weather2_pred['ts'] >= start_date) & (weather2_pred['ts'] <= end_date)])

        location     base_ts                  ts  cloud   temp  temp_max  \
5601   Gaigeturi  1728612000 2024-10-11 16:00:00     10  20.58     20.58
5602   Gaigeturi  1728612000 2024-10-11 17:00:00     13  20.52     20.52
5603   Gaigeturi  1728612000 2024-10-11 18:00:00     28  20.45     20.45
5604   Gaigeturi  1728612000 2024-10-11 19:00:00    100  20.36     20.36
5605   Gaigeturi  1728612000 2024-10-11 20:00:00     70  20.33     20.33
...          ...         ...                 ...    ...    ...       ...
17471       Jeju  1728612000 2024-10-12 12:00:00     50  20.59     20.59
17472       Jeju  1728612000 2024-10-12 13:00:00      5  20.36     20.36
17473       Jeju  1728612000 2024-10-12 14:00:00     14  20.28     20.28
17474       Jeju  1728612000 2024-10-12 15:00:00     11  20.25     20.25
17475       Jeju  1728698400 2024-10-12 15:00:00     42  20.25     20.25

       temp_min  humidity  ground_press  wind_speed  wind_dir  rain  snow
5601      20.58        70          1021        2.83        44   0.0     0
5602      20.52        71          1020        3.28        44   0.0     0
5603      20.45        71          1020        3.37        43   0.0     0
5604      20.36        71          1020        3.38        50   0.0     0
5605      20.33        70          1021        3.42        49   0.0     0
...         ...       ...           ...         ...       ...   ...   ...
17471     20.59        70          1023        4.12        91   0.0     0
17472     20.36        70          1023        3.86        96   0.0     0
17473     20.28        70          1024        3.50        86   0.0     0
17474     20.25        70          1023        3.59        90   0.0     0
17475     20.25        72          1023        3.35        78   0.0     0

[75 rows x 13 columns]

In [174]:
print(market_df[(market_df['ts'] >= start_date) & (market_df['ts'] <= end_date)])

                       ts   공급능력(kW)  현재 수요(kW)  태양광 발전량kW)  풍력 발전량(kW)  \
80936 2024-10-11 16:00:00  1166000.0   524000.0         0.0     3153.81
80937 2024-10-11 16:05:00  1165000.0   505000.0         0.0     3378.61
80938 2024-10-11 16:10:00  1166000.0   500000.0         0.0     3657.45
80939 2024-10-11 16:15:00  1165000.0   497000.0         0.0     3008.01
80940 2024-10-11 16:20:00  1167000.0   496000.0         0.0     3211.62
...                   ...        ...        ...         ...         ...
81207 2024-10-12 14:35:00  1192000.0   516000.0         0.0     7882.95
81208 2024-10-12 14:40:00  1192000.0   514000.0         0.0     8169.83
81209 2024-10-12 14:45:00  1195000.0   509000.0         0.0     8331.19
81210 2024-10-12 14:50:00  1194000.0   506000.0         0.0     9340.02
81211 2024-10-12 15:00:00  1194000.0   500000.0         0.0     9345.74

       신재생 발전량 총합(kW)  공급 예비력(kW)  운영 예비력(kW)
80936        11383.70    592000.0    269000.0
80937        10493.20    590000.0    288000.0
80938        11449.60    596000.0    293000.0
80939         9500.22    596000.0    294000.0
80940        11728.50    600000.0    299000.0
...               ...         ...         ...
81207        14918.50    575000.0    282000.0
81208        13743.60    577000.0    284000.0
81209        16641.40    586000.0    292000.0
81210        15834.80    587000.0    294000.0
81211        15688.30    593000.0    300000.0

[276 rows x 8 columns]

# 데이터에서 누락된 시간 단계 확인하는 코드

In [ ]:
final_df = pd.read_csv('최종데이터.csv')

In [176]:
real_final_df = pd.read_csv('null_값_해결_df2_avg.csv')

In [180]:
real_final_df['hour'] = pd.to_datetime(real_final_df['hour'])

In [182]:
full_time_range = pd.date_range(start=real_final_df['hour'].min(), end=real_final_df['hour'].max(), freq='H')

# 누락된 시간 확인
missing_times = full_time_range.difference(real_final_df['hour'])

print("누락된 시간 개수:", len(missing_times))
print("누락된 시간 목록:")
print(missing_times)

누락된 시간 개수: 0
누락된 시간 목록:
DatetimeIndex([], dtype='datetime64[ns]', freq='h')

C:\Users\Moai\AppData\Local\Temp\ipykernel_8456\179261494.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_time_range = pd.date_range(start=real_final_df['hour'].min(), end=real_final_df['hour'].max(), freq='H')

In [89]:
# 누락된 시간 목록을 데이터프레임으로 변환 후 CSV 저장
missing_df = pd.DataFrame({'missing_times': missing_times})
missing_df.to_csv('missing_times.csv', index=False)

print("누락된 시간 목록이 'missing_times.csv'로 저장되었습니다.")

누락된 시간 목록이 'missing_times.csv'로 저장되었습니다.